<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SHOP 🛒 </title>
</head>
<body>
    <h2> Buy Now 💰 </h2>

    <hr> <br>

    <div>
        <!-- <% for(var = 0; i<products.length; i++){ %>
            <div>
                <img src="<%= products[i].img %>" alt="">
            </div>

            <br> -->
            <% %>
            <h2> <%= products[i].title =%> </h2>
            <p> <%= products[i].description =%></p>
            
            <!-- <br>
            <h3> Apenas R$ <%= products[i].price %></h3>

            <form action="/buy?id=<%= products[i].id %>" method="post">
                <input type="submit" value="Buy Now">
            </form>
        <% } %> -->
    </div>
</body>
</html>